#### {{ name }} {{ "{#" }}{{ service|slugify }}-{{ name|slugify }}}

Request type: `
{%- if client_streaming && server_streaming -%}
bidirectional streaming
{%- else if client_streaming -%}
client streaming
{%- else if server_streaming -%}
server streaming
{%- else -%}
unary
{%- endif -%}
`

{{ description }}

##### Input {{ "{#" }}{{ service|slugify }}-{{ name|slugify }}-input}

{%- for message in input.values() %}

{{ message }}
{%- endfor %}

##### Output {{ "{#" }}{{ service|slugify }}-{{ name|slugify }}-output}

{%- for message in output.values() %}

{{ message }}
{%- endfor %}