{% if !config.frontmatter.trim().is_empty() -%}
---
{{ config.frontmatter|trim }}
---

{% endif -%}

{% if !config.markdownlint.disable.is_empty() -%}
{% for disable in config.markdownlint.disable -%}
<!-- markdownlint-disable {{ disable }} -->
{% endfor %}
{% endif -%}

# {{ name }}

{% for service in services -%}
{{ service }}
{%- endfor -%}