{% if config.frontmatter|trim -%}
---
{{ config.frontmatter|trim }}
---

{% endif -%}

{% if config.markdownlint.disable -%}
{% for disable in config.markdownlint.disable -%}
<!-- markdownlint-disable {{ disable }} -->
{% endfor %}
{% endif -%}

# {{ name }}
{% for service in services %}
## {{ service.name }}
{% if service.description %}
{{ service.description }}
{% endif %}
### Methods {{ "{#" ~ service.name|slugify ~ "-methods}" }}
{% for method in service.methods %}
- [{{ method.name }}](#{{ service.name|slugify ~ "-" ~ method.name|lower }})

{%- endfor %}
{% for method in service.methods %}
---

#### {{ method.name }} {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "}" }}

Request type: `
{%- if method.client_streaming and method.server_streaming -%}
bidirectional streaming
{%- elif method.client_streaming -%}
client streaming
{%- elif method.server_streaming -%}
server streaming
{%- else -%}
unary
{%- endif -%}
`
{% if method.description %}
{{ method.description }}
{% endif %}
##### Input {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "-input}" }}
{% for _, message in method.input|items -%}
{% if message.description %}
{{ message.description }}
{% endif %}
```proto
{{ message.proto }}
```
{% endfor %}
##### Output {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "-output}" }}
{% for _, message in method.output|items -%}
{% if message.description %}
{{ message.description }}
{% endif %}
```proto
{{ message.proto }}
```
{% endfor %}
{%- endfor -%}
{%- endfor -%}