{% if config.frontmatter|trim -%}
---
{{ config.frontmatter|trim }}
---

{% endif -%}

{% if config.markdownlint.disable -%}
{% for disable in config.markdownlint.disable -%}
<!-- markdownlint-disable {{ disable }} -->
{% endfor %}
{% endif -%}

# {{ name }}
{% for service in services %}
## {{ service.name }}
{% if service.description %}
{{ service.description }}
{% endif %}
{%- if service.deprecated %}
**This service is deprecated**
{% endif %}
{%- if service.file_deprecated %}
**The definition file of this service is deprecated**
{% endif %}
### Methods {{ "{#" ~ service.name|slugify ~ "-methods}" }}
{% for method in service.methods %}
- [{{ method.name }}](#{{ service.name|slugify ~ "-" ~ method.name|lower }})

{%- endfor %}
{% for method in service.methods %}
---

#### {{ method.name }} {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "}" }}
{% if method.deprecated %}
**This method is deprecated**
{% endif %}
Request type: `
{%- if method.client_streaming and method.server_streaming -%}
{{ config.request_symbols.bidi_streaming }}
{%- elif method.client_streaming -%}
{{ config.request_symbols.client_streaming }}
{%- elif method.server_streaming -%}
{{ config.request_symbols.server_streaming }}
{%- else -%}
{{ config.request_symbols.unary }}
{%- endif -%}
`
{% if method.description %}
{{ method.description }}
{% endif %}
##### Input {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "-input}" }}
{% for _, message in method.input|items -%}
{% if message.description %}
{{ message.description }}
{% endif %}
{%- if message.deprecated %}
**This message is deprecated**
{% endif %}
```proto
{{ message.proto }}
```
{% endfor %}
##### Output {{ "{#" ~ service.name|slugify ~ "-" ~ method.name|slugify ~ "-output}" }}
{% for _, message in method.output|items -%}
{% if message.description %}
{{ message.description }}
{% endif %}
{%- if message.deprecated %}
**This message is deprecated**
{% endif %}
```proto
{{ message.proto }}
```
{% endfor %}
{%- endfor -%}
{%- endfor -%}
